<!DOCTYPE html>
<html>
  <head>
    <title>Barbie'n be</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render "components/navbar", home: request.original_fullpath == "/" %>
    <div class="page-content">
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </div>
    <%= render "components/footer" %>
    <p class="notice" style="position: absolute"><%= notice %></p>
    <p class="alert" style="position: absolute"><%= alert %></p>
  </body>
</html>
